body {
  background-color: black;
}
div {
  background-color: blanchedalmond;

  height: 500px;
  display: flex;
  justify-content: center;
}
h2 {
  background-color: chocolate;
  margin-top: 100px;
  color: red;
  font-size: 45px;
}
/* ///testim */
